.header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px 25px;
}

.title {
 color: white;
}

.elements {
 display: flex;
 flex-direction: row;
 align-items: center;
 text-decoration: none;
 color: white;
}

.close {
 font-size: 40px;
 width: fit-content;
}

.close:hover {
 background-color: transparent;
 cursor: pointer;
}
