/* #f1f1f1 */

.container {
 background-color: white;
 height: 100%;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 20px;
 padding: 5rem 1rem;
}

.title {
 font-size: 36px;
 text-align: center;
}

.description {
 text-align: center;
 padding: 1rem;
 width: 100%;
 max-width: 800px;
 line-height: 1.5rem;
}

.form {
 padding: 1rem 0;
 display: flex;
 width: 100%;
 justify-content: center;
}

.input {
 width: 50%;
 max-width: 500px;
 padding: 12px;
 border-style: none;
 box-shadow: 0px 0px 1px 0px rgba(162, 162, 162, 0.75);
}

.button {
 color: #fff;
 background-color: black;
 border: none;
 color: white;
 padding: 12px;
 text-align: center;
 text-decoration: none;
 cursor: pointer;
 margin-left: 12px;
}

.terms {
 text-align: center;
 padding: 1rem;
 line-height: 1.5rem;
}
.anchor {
 color: black;
}
