.container {
 display: none;
 background-color: #fafafa;
 border-bottom-style: solid;
 border-bottom-width: 1px;
 border-bottom-color: rgb(232, 232, 232);
}

.orderSummary {
 display: flex;
 margin: auto;
 flex-direction: column;
 max-width: 560px;
 padding: 1rem;
 gap: 1.25rem;
 background-color: #fafafa;
}

@media (min-width: 1024px) {
 .container {
  padding-top: 56px;
  display: block;
  border-bottom-style: none;
 }

 .orderSummary {
  margin-left: 0px;
  padding-left: 2.5rem;
 }
}
