.title {
 display: flex;
 max-width: 560px;
 margin: auto;
 padding: 1rem;
 font-size: x-large;
 text-decoration: none;
 color: black;
}

@media (min-width: 1024px) {
 .title {
  padding-top: 56px;
  margin-right: 0px;
  padding-right: 2.5rem;
 }
}
