.container {
 width: 100%;
 height: 100%;
 background-color: #ffffff;
}

.title {
 display: flex;
 max-width: 560px;
 margin: auto;
 padding: 1rem;
 font-size: x-large;
 text-decoration: none;
 color: black;
}

.summaryHeader {
 background-color: #f6f6f6;
 font-size: 14px;
}

.summaryHeaderContent {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: auto;
 max-width: 560px;
 padding: 1rem;
 border-top-style: solid;
 border-top-width: 1px;
 border-top-color: rgb(232, 232, 232);
 border-bottom-style: solid;
 border-bottom-width: 1px;
 border-bottom-color: rgb(232, 232, 232);
}

.leftHeader {
 display: flex;
 align-items: center;
}

.cartIcon {
 font-size: 18px;
 padding: 0 5px;
}

.productList,
.totalSection,
.discountCode {
 background-color: #fafafa;
}

.productListContent,
.discountCodeContent,
.totalSectionContent {
 font-size: 14px;
 max-width: 560px;
 margin: auto;
}

.totalSectionContent {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}

.discountCodeContent {
 display: flex;
 justify-content: space-between;
}

.productListContent {
 display: flex;
 flex-direction: column;
 gap: 1rem;
}

.productContainer {
 display: flex;
 width: 100%;
 justify-content: space-between;
 align-items: center;
}

.productLeft {
 display: flex;
 align-items: center;
 width: 100%;
}

.productName {
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 1;
 overflow: hidden;
 padding-left: 0.5rem;
}

.orderSummary {
 display: flex;
 flex-direction: column;
 padding: 1rem;
 gap: 1.25rem;
 background-color: #fafafa;
}

.subTotal,
.shipping,
.total {
 display: flex;
 justify-content: space-between;
}

.total {
 font-size: 17px;
}

.productImage {
 border-radius: 10px;
}

.applyButton {
 padding: 14px 11px;
 border-radius: 5px;
 border-width: 0px;
 background-color: black;
 color: white;
 cursor: pointer;
}

.applyButton:disabled {
 background-color: gray;
}

.inputDiscount {
 width: 100%;
 margin-right: 1rem;
 border-width: 1px;
 border-radius: 5px;
 border-style: solid;
 border-color: rgb(190, 190, 190);
 padding-left: 1rem;
}

.contactTitle {
 display: flex;
 padding: 1rem;
 padding-bottom: 0;
 justify-content: space-between;
}

.form {
 display: flex;
 flex-direction: column;
 padding: 1rem;
}

.formEmailGroup {
 display: flex;
 flex-direction: column;
}

.label {
 font-size: 14px;
 margin-left: 6px;
 margin-bottom: 6px;
}

.input {
 padding: 13.5px 11px;
 border-radius: 8px;
 border-style: solid;
 border-width: 1px;
 border-color: rgb(190, 190, 190);
}

.inputPadding {
 margin-bottom: 6px;
}

.formSubscribe {
 display: flex;
 flex-direction: row;
 gap: 6px;
 padding: 12px 0;
}

.shippingAddress {
 padding: 6px 0;
}

.inputGroup {
 display: flex;
 flex-direction: column;
 margin-bottom: 6px;
}

.submit {
 background-color: black;
 color: white;
 border-style: none;
 border-radius: 5px;
 padding: 21px;
 margin-top: 1rem;
}

.return {
 display: flex;
 align-items: center;
 justify-content: center;
 text-decoration: none;
 color: black;
 text-align: center;
 margin-top: 1rem;
}

.backArrow {
 font-size: medium;
}

.footer {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
 padding: 21px;
}

.footerLinks {
 padding-right: 0.5rem;
 padding-bottom: 0.5rem;
 font-size: 14px;
 color: black;
}
