.contactTitle {
 display: flex;
 max-width: 560px;
 margin: auto;
 padding: 1rem;
 padding-bottom: 0;
 justify-content: space-between;
}

@media (min-width: 1024px) {
 .contactTitle {
  margin-right: 0px;
  padding-right: 2.5rem;
 }
}
