.summaryHeader {
 background-color: #f6f6f6;
 font-size: 14px;
 border-top-style: solid;
 border-top-width: 1px;
 border-top-color: rgb(232, 232, 232);
 border-bottom-style: solid;
 border-bottom-width: 1px;
 border-bottom-color: rgb(232, 232, 232);
}

.summaryHeaderContent {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: auto;
 max-width: 560px;
 padding: 1rem;
}

.leftHeader {
 display: flex;
 align-items: center;
}

.cartIcon {
 font-size: 18px;
 padding: 0 5px;
}

@media (min-width: 1024px) {
 .summaryHeader {
  border-top-style: none;
  border-bottom-style: none;
 }

 .summaryHeaderContent {
  display: none;
 }
}
